
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    html{
      scroll-behavior: smooth;
    }
    .navbar{
      background-color: #ff1b68;
      padding: 1rem;
      text-transform: uppercase;
      text-align: left;
      background-position: fixed;
      background-attachment: fixed;
    }
    img{
      height: 4rem;
      width: 7rem;
      display: inline-flex;
      border-radius: 7rem;
    }
    .menu-right{
      word-spacing: 5rem;
      text-align: right;
      font-size: 1.4rem;
      float: right;
      border:0px solid red;
      line-height: 4rem;
      
      width: 42rem;
      justify-content: space-between;
          }
    ul li{
      display: inline-flex;
      word-spacing: 5rem;
      list-style: none;
      font-family: italic;

}
    a{
      text-decoration-line: none;
      color: white;
    }
    #content1{
      height: 62rem;
    }
    .content{
      height: 38rem;
      background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)), url("pexels-pixabay-258154.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    a:hover{
      font-size: 1.8rem;
    }
    span{
      display: none;
    }
    i{
      color: red;
      font-size: 3.4rem;
    }
    h1{
      font-family: 'Merriweather', serif;
      color: white;
      top: 19rem;
      left: 10rem;
      font-size: 3rem;
      position: absolute;
    }
    .contact{
      height: 35rem;
      border:0px solid blue;
    }
    .bux{
       display: grid;
      grid-template-rows: 25rem;
      grid-template-columns: 1fr 1fr;
    }
    .map{
      border:0px solid black;
    }
    #content1{
      background-color: white;
      background-position: center;
      background-size: cover;
      border: 0px solid red;
    }
    .layout{
      border: 0px solid black;
       transition: linear 1500ms all;
       box-shadow: 0px 8px 16px 0px;
    }
    .layout:hover{
           background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)); 
    }
    .map{
      padding: 1.5rem;
    }
    .main{
      border: 0px solid black;
      height: 60%;
    }
    h3{
      margin-top: 50%;
      color: white;
      font-size: 2.3rem;
    }
    .front{
      background-image: url("reisetopia-aI6Su7Mu9Ro-unsplash.jpg");
     width: auto;
     height: auto;
     background-size: cover;
    }
    .rupee{
      margin: 1rem;
      color: white;
      border:2px solid white;
      padding: .5px;
      border-radius: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .rupee:hover{
      background-color: rgba(0,0,0,.4);
    }
    .main{
      width: 90%;
      margin: 150px auto;
      display: grid;
      text-align:center;
      grid-template-rows: auto auto auto ;
      grid-template-columns:  1fr 1fr 1fr;
      grid-gap: 2rem;
    }
    #div1{
      background-image: url("home-1622401_1920.jpg");
      background-size: cover;
      backface-visibility: visible;
    }
    #div2{
     background-image: url("double-bed-994230_1920.jpg");
      background-size: cover;
      backface-visibility: visible; 
    }
    #div3{
     background-image:url("indoors-3101776_1920.jpg");
      background-size: cover;
      backface-visibility: visible; 
    }
     #div4{
     background-image: url("pexels-andrew-neel-3201763.jpg");
      background-size: cover;
      backface-visibility: visible; 
    }
    #div5{
     background-image:url("pexels-pixabay-210265.jpg");
      background-size: cover;
      backface-visibility: visible; 
    }
     #div6{
     background-image: url("pexels-max-vakhtbovych-6077368.jpg");
      background-size: cover;
      backface-visibility: visible; 
    }
    .hotel{
      height:  58rem;
      margin: 150px auto;
      width: 90%;
      display: grid;
      grid-template-rows: 20rem 20rem 20rem;
      grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 2rem;  
     }
    h2{
      margin: 3rem;
      text-align: center;
      font-size: 4rem;
    }
    .align{
      height: 63rem;
      width: auto;
      border: 0px solid red;
      position: relative;
      background-image: url("services..jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
    }
    .front , .last{
      border: 2px solid blue;
    }
    input{
      padding: 1rem;
      margin: 1.5rem;
      width: 90%;
    }
    .first{
  width: 100%;
      background-image: url('reisetopia-aI6Su7Mu9Ro-unsplash.jpg');
      background-size: cover;
      background-position: center;
    }
    table{
      padding:0rem;
      width: 70%;
      padding-top: 3rem;
    }
    td{
      font-size: 3rem;
      padding: 2rem;
      padding-top: 4rem;
      text-align: center;
      box-shadow: 0px 8px 16px 0px;
     background-color: white;
     border-radius: 1.5rem;
    }

    .icon{
      width: 100%;
      margin: auto;
       font-size: 1rem;
       padding: 1rem;
    }
    #head{
      font-size: 4rem;
       font-family: 'Merriweather', serif;
       text-align: center;
       margin: 2rem;
    }
    #fonts{
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    b{
      font-size: 1.5rem;
      margin: 2rem;
      padding-bottom: 5rem;
    }
    #fun{
      font-size: 2rem;
      padding-bottom: 6rem;
      color: black;
    }
    #word{
      color: black;
    }
    h4{
      top: 0rem;
      position: relative;
    }
    button{
      font-size: 2rem;
      padding: .5rem;
      background-color: orange;
      border:1px solid white;
      color: white;
    }
    @media(max-width: 900px){
      html{
        font-size: 12px;
      }
     
    .align{
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr ;
      height: 63rem;
            background-size: contain;
    }
      .front{
      background-image: url("reisetopia-aI6Su7Mu9Ro-unsplash.jpg");
     width: auto;
     height: 30rem;
     background-size: cover;
    }
    .contact{
      height: 59rem;
    }
    .bux{
       display: grid;
      grid-template-rows: 25rem 29rem;
      grid-template-columns: 1fr;
    }
    .first{
      height: 25rem;
      width: 80%;
    }
     ul li{
      display: block;
     }
     .content{
      height: 30rem;
     }
   
     #content1{
      height: 100%;
     }
     .menu-right{
      width: 100%;
      background-color: #ff1b68;
      text-align: center;
      float: none;
      line-height: 3rem;
     }
     .second{
      height: 30rem;
     }
     td{
      padding: 5px;
     }
     .main{
      grid-template-rows: 20rem 20rem 20rem ;
      grid-template-columns:  1fr 1fr ;
      grid-gap: 2rem;
      height: 100%;
     }
     h3{
      font-size: 1.5rem;
     }
     ul{
      display: none;
     }
     h1,i{
      font-size: 2rem;
      left: 5rem;
      top: 20rem;
     }
     span{
      float: right;
      font-size: 3rem;
      display: block;
      cursor: pointer;
     }
    }
